[Desktop Entry]
Version=1.0
Name=TxtEd
Comment=Simple text editor
Exec=python3 ~/txted.py
Icon=txt.png
Terminal=false
Type=Application
Categories=Utility;TextEditor;