#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.2
Name=TxtEd-QT
Comment=Simple text editor
Exec=python /usr/bin/txted
Icon=/usr/share/pixmaps/txted.png
Terminal=false
Type=Application
Categories=Utility;TextEditor;